<!--The content below is only a placeholder and can be replaced.-->

<div class="custom-navbar">
    <p>
        This site is currently under construction. If you just can't wait any longer to get to know me,
        <a href="/profile">
            click here
        </a>
        to see what I have deployed thus far. In the meantime, I'll be developing
        locally and you should see something finished within the next few days.</p>
</div>

<div class="spacer"></div>

<router-outlet></router-outlet>

<app-banner></app-banner>

<div class="spacer"></div>