<div class="section">
    <div class="github-quote">
        <p><em>{{quote}}</em></p>
    </div>

    <div class="section-title">
        <h1 class="display-5">Introduction</h1>
        <hr>
    </div>

    <div class="container section-content">
        <img src="../../../assets/mugshot_3.jpg" />
        <p>
            <b>Hey there. I'm Simon. <i class="far fa-hand-paper"></i></b>
            <br>
            I'm currently studying Computer Science at the University of Waterloo.
            <br>
            <br>
            In this chapter of my career, I play the role of Software Engineering Intern at Capital One's
            <a href="https://www.capitalonecareers.ca/software-studio" target="_blank">Toronto Software Studio</a>. I
            have the privilege of working with arguably the most talented team in the Studio. They work on a product
            which is first of its kind in Canada <a href="https://findyourcard.capitalone.ca/">Quick Check</a>™,
            changing banking for good.
            <br>
            <br>
            My past experiences include developing software for medical research with the Sunnybrook Research
            Institute's <a href="https://sunnybrook.ca/research/content/?page=sri-groups-fus" target="_blank">Focused
                Ultrasound Lab</a> (<a
                href="https://sunnybrook.ca/research/content/?page=sri-ed-summ-ultra-testimonials"
                target="_blank">testimonial</a>) and for FIRST Robotics <a
                href="https://www.thebluealliance.com/team/4914" target="_blank">Team 4914</a> as Lead Programmer and
            Team Captain.
            <br>
            <br>
        </p>
        <p class="contact-me">
            See something you're interested in? Contact me!<br>
            If you can read this, you've set up webhooks correctly!
        </p>
    </div>
</div>