<div class="section">
    <div class="section-title">
        <h1 class="display-4">Introduction</h1>
        <hr>
    </div>

    <div class="container section-content">
        <img src="../../../assets/mugshot_3.jpg" />
        <p>
            <b>Hey there. I'm Simon. <i class="far fa-hand-paper"></i></b>
            <br>
            I'm currently studying Computer Science at the University of Waterloo.
            <br>
            <br>
            In the next chapter of my career I find myself in the role of Software Engineering Intern at Capital One's
            <a href="https://www.capitalonecareers.ca/software-studio" target="_blank">Toronto Software Studio</a>.
            <br>
            <br>
            My past experiences include developing software for medical research with the Sunnybrook Research
            Institute's <a href="https://sunnybrook.ca/research/content/?page=sri-groups-fus" target="_blank">Focused
                Ultrasound Lab</a> (<a
                href="https://sunnybrook.ca/research/content/?page=sri-ed-summ-ultra-testimonials"
                target="_blank">testimonial</a>) and for FIRST Robotics <a
                href="https://www.thebluealliance.com/team/4914" target="_blank">Team 4914</a> as Lead Programmer and
            Team Captain.
            <br>
            <br>
            See something you're interested in? Contact me!
        </p>
    </div>
</div>