<div class="section">
    <div class="section-title">
        <h1 class="display-4">Interests</h1>
        <hr>
    </div>

    <div class="container section-content">
        <div class="row">
            <div class="col-xl-6" *ngFor="let widget of widgets">

                <div class="content-wrapper">

                    <div class="content-before">
                        <div class="content-wrapper-1">
                            <img src="../../../assets/interests/{{widget.name}}.png"><br>
                            <p>{{widget.title}}</p>
                        </div>
                    </div>

                    <div class="content-after">
                        <div class="row">
                            <div class="col" *ngFor="let subwidget of widget.content">
                                <div class="content-wrapper-1">
                                    <a href="{{subwidget.url}}" target="_blank">
                                        <img src="../../../assets/interests/{{subwidget.name}}.png"><br>
                                        <p>{{subwidget.title}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>