
<a class="repo-link" href="https://github.com/" target="_blank">
    <div class="card">
        <div class="card-header">
            <div class="card-repo">
                <h5>my-repo</h5>
            </div>
            <div class="row card-stats">
                <div class="col-3">
                    <span class="fas fa-history"></span> 31
                </div>
                <div class="col-3">
                    <span class="fas fa-code-branch"></span> 4
                </div>
                <div class="col-3">
                    <span class="fas fa-exclamation-circle"></span> 18
                </div>
                <div class="col-3">
                    <span class="fas fa-user-friends"></span> 2
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8 repo-description">
                    Lorem ipsum dolorem, CodeJam qualification round starts at 1900 EST. Good luck to all competing. This is some extra filler text to see how wrapping turns out.
                </div>
                <div class="col-4 repo-graphic">
                    <img src="https://cdn-1.motorsport.com/images/amp/YN1jPXb2/s2/formula-1-bahrain-april-testin-2.jpg"/>
                </div>
            </div>
        </div>
    </div>
</a>