
.repo-link {
    text-decoration: none;
    color: black;
}

.card {
    border-radius: 10px;
}

.card:hover {
    box-shadow: 2px 2px #CCCCCC;
    transform: translate(-2px, -2px);
}

.card-repo .fas {
    font-size: 75%;
    color: #888;
    padding-left: 5px;
}

.card-stats {
    padding: 0 5px;
}

.card-stats div {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    padding: 0;
}

.card-stats div .fas {
    color: black;
    padding-right: 5px;
}

.fa-code-branch {
    margin: 0 2px;
}

.card-body {
    padding: 0;
}

.card-body .row {
    padding: 0;
    margin: 0;
}

.repo-description {
    padding: 15px;
}

.repo-graphic {
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 10px 0;
}

.repo-graphic img {
    position: absolute;
    height: 100%;
}