{% extends 'iou/base.html' %}

{% block content %}

<div class="page-header">
	<h1>Transactions</h1>
</div>

<div class="row transaction-buttons">
	<div class="col-sm-3">
		<a class="btn btn-primary" href="{% url 'my_debt_add' %}" role="button">Add to my debt</a>
	</div>
	<div class="col-sm-3">
		<a class="btn btn-primary" href="{% url 'other_debt_add' %}" role="button">Add to others' debt</a>
	</div>
</div>

{%for transaction in transactions %}
	<div class="row">
		<div class="col-sm-3">
			<p>{{ transaction.transaction_date }}</p>
		</div>
		<div class="col-sm-4">
			<p>{{ transaction.title }}</p>
		</div>
		<div class="col-sm-2">
			<p>{{ transaction.party.name }}</p>
		</div>
		<div class="col-sm-1">
			<p>{{ transaction.amount }}</p>
		</div>
		<div class="col-sm-2">
			<p>{{ transaction.reference_info }}</p>
		</div>
	</div>
{% endfor %}

{% endblock %}
