<div class="container-fluid">

    <div class="section">
        <div class="section-title">
            <h1 class="display-5">Resume</h1>
            <hr>
        </div>

        <div class="row tabs">
            <div class="col-4 tab-element">
                <button (click)="setState(-1)">
                    <div>
                        <p>Minimal</p>
                    </div>
                </button>
            </div>
            <div class="col-4 tab-element">
                <button (click)="setState(0)">
                    <div>
                        <p>Balanced</p>
                    </div>
                </button>
            </div>
            <div class="col-4 tab-element">
                <button (click)="setState(1)">
                    <div>
                        <p>Maximal</p>
                    </div>
                </button>
            </div>
        </div>

        <div class="container section-content" (window:resize)="onResize()">
            <div class="resume-section">
                <h3>Professional Experience</h3>
                <div class="resume-subsection">
                    <h4>Sunnybrook Research Institute</h4>
                    <div class="row">
                        <div class="col-6 entry-position">
                            <p>Software Development Intern</p>
                        </div>
                        <div class="col-6 entry-dates">
                            <p>July 2018 - August 2018</p>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li class="content-max content-right content-min">Reworked transcranial treatment-monitoring program to run 80% faster and beamform
                                    larger volumes in real-time</li>
                                <li class="content-max content-right">Revamped data-processing pipeline by reducing need for memory transfer among compute
                                    devices by 50%</li>
                                <li class="content-max content-right">Ported OpenGL renderer from CUDA Runtime to Driver API for lower levels of abstraction and full control over kernels</li>
                                <li class="content-max"><strong>Technologies Used:</strong> C++, CUDA, OpenGL</li>
                            </ul>
                        </div>
                    </div> <!-- End of SRI Internship 1 -->

                    <div class="row">
                        <div class="col-6 entry-position">
                            <p>Software Development Intern</p>
                        </div>
                        <div class="col-6 entry-dates">
                            <p>July 2017 - August 2017</p>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li class="content-max content-right content-min">Designed and implemented Python Tkinter frontend to replace interactive terminal
                                    prompts and improve ease-of-use</li>
                                <li class="content-max content-right">Developed backend with NumPy to automatically transform large medical images for
                                    multiple algorithms, replacing manual entry and reducing operation time twofold</li>
                                <li class="content-max content-right">Assisted configuration of virtualized Linux servers on which to run treatment
                                    planning computations</li>
                                <li class="content-max"><strong>Technologies Used:</strong> Python, NumPy, Tkinter, Linux</li>
                            </ul>
                        </div>
                    </div> <!-- End of SRI Internship 1 -->
                </div> <!-- End of SRI -->
            </div> <!-- End of Professional Experience -->

            <!-- <div class="row">
                <div class="col-12"><h2>Professional Experience</h2></div>
                <div class="col-12"><h3>Sunnybrook Research Institute</h3></div>
                <div class="col-6"><h4>Software Development Intern</h4></div>
                <div class="col-6"><p style="text-align: right"><strong>July 2018 - August 2018</strong></p></div>
                <div class="col-12">
                    <ul>
                        <li>Reworked transcranial treatment-monitoring program to run 80% faster and beamform larger volumes in real-time</li>
                        <li>Revamped data-processing pipeline by reducing need for memory transfer among compute devices by 50%</li>
                        <li>Ported OpenGL renderer from CUDA Runtime to Driver API for lower levels of abstraction and full control over kernels</li>
                        <li>Technologies Used: C++, CUDA, OpenGL</li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>