{% load static %}
<html>
    <head>
			<title>Simon Liu // cyamonide</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
				<link rel="stylesheet" href="{% static 'css/notes.css' %}">
    </head>
    <body>
			<div class="page-header">
				{% block header %}
				{% endblock %}
      </div>
      <div class="content container">
				{% block content %}
        {% endblock %}
      </div>

			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<p>
							<a href="{% url 'what-i-use' %}">What I use</a>
							</p>
						</div>
						<div class="col-sm'6">
							<p style="text-align: right">
							<a href="https://github.com/cyamonide/cyamonide-me"><span class="fab fa-github"></span> Repository</a>
						</div>
					</div>
				</div>
			</footer>
		</body>
</html>
