<h1>cyamonide.me</h1>

<p>Personal website. About me, and platform for web app dev</p>

<h3>TODO:</h3>

<h4>General</h4>

<ul>
<li>User auth</li>
</ul>

<h4>Landing</h4>

<ul>
<li>Links to different apps on site</li>
<li>Links to personal info (Linkedin, GitHub, DMOJ...?)</li>
</ul>

<h4>IOU</h4>

<ul>
<li>View who owes me how much at a glance</li>
<li>Categorize transactions (payment in, payment out, etc.)</li>
<li>Color code transaction view</li>
<li>Clear debt manually by rounding</li>
<li>Add ability to archive users</li>
<li>View transaction history for users</li>
</ul>

<h4>Notes</h4>

<ul>
<li>Convert markdown notes to html if non existent</li>
<li>Create model linking html file to markdown file</li>
</ul>
