<div class="row link">
	<div class="col-sm-2 course">
		<p><b>Course</b></p>
	</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<p><b>Date</b></p>
	</div>
	<div class="col-sm-7">
		<p><b>Title</b></p>
	</div>
</div>
{% if not filter|default:False %}

	{% for note in notes %}
	<div class="row link">
		<a href="https://cyamonide.me/notes/view_note/{{ note.course_code }}/{{ note.filename }}/">
			<div class="col-sm-2 course" style="background-color:{{ note.color }};">
				<p>{{ note.course_code }}</p>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-2 date">
				<p>{{ note.date }}</p>
			</div>
			<div class="col-sm-7 title">
				<p>{{ note.filename }}</p>
			</div>
		</a>
	</div>
	{% endfor %}

{% else %}

	{% for note in notes %}
	{% if note.course_code == filter_course %}
	<div class="row link">
		<a href="https://cyamonide.me/notes/view_note/{{ note.course_code }}/{{ note.filename }}/">
			<div class="col-sm-2 course" style="background-color:{{ note.color }};">
				<p>{{ note.course_code }}</p>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-2 date">
				<p>{{ note.date }}</p>
			</div>
			<div class="col-sm-7 title">
				<p>{{ note.filename }}</p>
			</div>
		</a>
	</div>
	{% endif %}
	{% endfor %}

{% endif %}