{% extends 'notes/base.html' %}

{% block header %}
<h1>All notes</h1>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#allnotes">All Notes</a></li>
	<li><a data-toggle="tab" href="#menuECON206">ECON 206</a></li>
	<li><a data-toggle="tab" href="#menuCS135">CS 135</a></li>
</ul>

<div class="tab-content">

	<div id="allnotes" class="tab-pane in active">

		{% include "notes/note_filtered_list.html" with filter=False %}

	</div>

	<div id="menuECON206" class="tab-pane">

		{% include "notes/note_filtered_list.html" with filter_course="ECON 206" filter=True %}

	</div>

	<div id="menuCS135" class="tab-pane">

		{% include "notes/note_filtered_list.html" with filter_course="CS 135" filter=True %}

	</div>

</div>

{% endblock %}