/* You can add global styles to this file, and also import other style files */

body {
    background-color: #EEEEEE;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}