{% extends 'landing/base.html' %}

{% block header %}
<h1>Simon Liu <span class="text-muted">// cyamonide</span></h1>
{% endblock %}

{% block content %}
	<p>
		Hi. I'm Simon and my handle is cyamonide.<br>
	</p>

	<h3>More on me</h3>

	<p>
	<a href="{% url 'resume' %}" target="_blank">
		<span class="fas fa-file"></span> Resume
	</a><br>
	<a href="https://linkedin.com/in/cyamonide/" target="_blank">
		<span class="fab fa-linkedin"></span> LinkedIn
	</a><br>
	<a href="https://github.com/cyamonide/" target="_blank">
		<span class="fab fa-github"></span> GitHub
	</a><br>
	<a href="https://sunnybrook.ca/research/content/?page=sri-ed-summ-ultra-testimonials" target="_blank">
		<span class="fas fa-comments"></span> Sunnybrook Research Institute - FUS Lab Testimonial
	</a><br>
	</p>

	<div class="row">
		<div class="col-sm-6">

			<h3>What have I been up to in 2019?</h3>

			<ul>
				<li>UW React</li>
				<li>Terminal Live @ Waterloo</li>
				<li>DeltaHacks V</li>
				<li>UofTHacks VI</li>
			</ul>
		
		</div>

		<div class="col-sm-6">

			<h3>What am I into?</h3>

			<ul>
				<li>Formula 1</li>
				<li>Danny MacAskill</li>
				<li>LinusTechTips</li>
				<li>The Stradman</li>
				<li>Louis Rossman</li>
				<li>Thinkpads</li>
			</ul>

		</div>

		<div class="col-sm-6">

			<h3>Music</h3>

			<ul>
				<li>Joey Pecoraro</li>
				<li>The Weeknd</li>
				<li>Post Malone</li>
				<li>Joji</li>
				<li>deadmau5</li>
				<li>Lil Dicky</li>
				<li>Ludovico Einaudi</li>
				<li>A bunch of EDM artists</li>
			</ul>

		</div>

		<div class="col-sm-6">
			<h3>Stuff for me</h3>

			<p>
			<!--<a href="https://cyamonide.me/iou/">
				<span class="fas fa-money-bill-alt"></span> IOU
			</a><br>-->
			<a href="https://cyamonide.me/admin/">
				<span class="fas fa-toolbox"></span> Under the hood
			</a><br>
			<a href="{% url 'notes-list' %}">
				<span class="fas fa-book-open"></span> Notes
			</a><br>
			</p>
		</div>
	</div>

{% endblock %}
