{% extends 'landing/base.html' %}

{% block header %}
<h1>Simon Liu <span class="text-muted">// cyamonide</span></h1>
{% endblock %}

{% block content %}
	<p>
		Hi. I'm Simon and my handle is cyamonide.<br>
	</p>

	<h3>More on me</h3>

	<p>
	<a href="{% url 'resume' %}" target="_blank">
		<span class="fas fa-file"></span> Resume
	</a><br>
	<a href="https://linkedin.com/in/cyamonide/" target="_blank">
		<span class="fab fa-linkedin"></span> LinkedIn
	</a><br>
	<a href="https://github.com/cyamonide/" target="_blank">
		<span class="fab fa-github"></span> GitHub
	</a><br>
	</p>

	<h3>Stuff for me</h3>

	<p>
	<!--<a href="https://cyamonide.me/iou/">
		<span class="fas fa-money-bill-alt"></span> IOU
	</a><br>-->
	<a href="https://cyamonide.me/admin/">
		<span class="fas fa-toolbox"></span> Under the hood
	</a><br>
	<a href="{% url 'notes-list' %}">
		<span class="fas fa-book-open"></span> Notes
	</a><br>
	</p>
	
{% endblock %}
