<div class="section">
    <div class="section-title">
        <h1 class="display-4">More on me</h1>
        <hr>
    </div>

    <div class="container section-content">
        <div class="row">
            <div class="col-md-4" *ngFor="let widget of widgets">
                <a href="{{widget.content[0]}}">
                    <div id="{{widget.name}}">
                        <i class="{{widget.faIcon}}"></i>
                        <p>
                            < {{widget.title}} >
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>