
<div class="container-fluid">
    <div class="section">
        <div class="section-title">
            <h1 class="display-5">GitHub Repositories</h1>
            <hr>
        </div>

        <div class="container section-content">
            <p>
                Click <a href="https://github.com/cyamonide">here</a> to view my full profile.
                <br>
                Alternatively, click on any of the repositories below to get taken to their pages.
            </p>
        </div>
    </div>
<!-- </div>

<div class="container"> -->

    <div class="repos-container">
        <div class="container">
            <h3>Highlights</h3>
            <hr>

            <!-- Repository cards (Highlights) -->
            <div class="row">
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </div>

    <div class="repos-container">
        <div class="container">
            <h3>Other repos</h3>
            <hr>

            <!-- Repository cards (Other) -->
            <div class="row">
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </div>

</div>