
<div class="container-fluid">
    <div class="subpage-header">
        <div class="subpage-title">
            <h1 class="display-4">GitHub repositories</h1>
            <hr>
        </div>

        <div class="subpage-info">
            <p>
                See something interesting? Click it!<br>
                If a private repository has caught your eye and you want to talk, feel free to contact me.
            </p>
        </div>
    </div>
<!-- </div>

<div class="container"> -->

    <div class="repos-container">
        <div class="container">
            <h3>Highlights</h3>
            <hr>

            <!-- Repository cards (Highlights) -->
            <div class="row">
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </div>

    <div class="repos-container">
        <div class="container">
            <h3>Other repos</h3>
            <hr>

            <!-- Repository cards (Other) -->
            <div class="row">
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
                <div class="col-md-4 card-container">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </div>

</div>